<div class="accordion-item py-3 px-2 realative" >
  <form [formGroup]="form" >
    <div class="d-flex px-2 py-2">
      <input formControlName="location" class="form-control me-2" type="text" [placeholder]="'SEARCH.PLACEHOLDER'| translate" autocomplete="off" (input)="search(searchForm.location.value)" (focus)="search(searchForm.location.value)" (blur)="hideList()">
      <button type="button" class="btn btn-dark text-white px-4" (click)="onSubmit()">
        {{ 'SEARCH.BUTTON' | translate }}
      </button>
    </div>

    <ng-container *ngIf="searchResult && rent">

      <div class="search-list bg-light bg-gradient " >
        <ng-container *ngFor="let item of resultList">
          <p>
            <a routerLink="{{ '/properties/' + item.type +'/rent/'+item.id }}">{{ item.name }}</a>
          </p>
        </ng-container>
      </div>

    </ng-container>
    <ng-container *ngIf="searchResult && !rent">

      <div class="search-list bg-light bg-gradient " >
        <ng-container *ngFor="let item of resultList">
          <p>
            <a routerLink="{{ '/properties/' + item.type +'/sell/'+item.id }}">{{ item.name }}</a>
          </p>
        </ng-container>
      </div>

    </ng-container>

    <div class="accordion-collapse show transition-custom ">
      <div class="container-fluid">
        <div class="mb-3">
          <div class="row">
            <div class="col-12 col-md-4">
              <label for="category" class="form-label">
                {{ 'SEARCH.CAT' | translate }}
              </label>
              <select formControlName="category" id="category" class="form-select">
                <option *ngFor="let item of categories" [value]="item.id" >{{ item.name }}</option>
              </select>
            </div>
            <div class="col-12 col-md-4">
              <label for="numberOfRooms" class="form-label">
                {{ 'SEARCH.ROOM' | translate }}
              </label>
              <input formControlName="numberrooms" id="numberOfRooms" type="number" class="form-control">
            </div>
            <div class="col-12 col-md-4">
              <label for="price" class="form-label">
                {{ 'SEARCH.MIN' | translate }}
              </label>
              <input formControlName="minprice" id="minPrice" type="number" class="form-control">
              <label for="maxPrice" class="form-label">
                {{ 'SEARCH.MAX' | translate }}
              </label>
              <input formControlName="maxprice" id="maxPrice" type="number" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
