<div class="card my-3">
  <div class="card-body">
    <h5 class="card-title">{{ demand.title }}</h5>
    <p class="card-text">
      {{ demand.body.substring(0, 23) + ' ... المزيد' }}
    </p>
    <p class="mb-2 text-muted">{{ demand.dateCreated | date }}</p>


    <a [routerLink]="'/demand/' + demand.id" class="card-link ms-5">التفاصيل</a>
    <button href="#" class="btn" (click)="addFavourite()">
      <i class="bi bi-hand-thumbs-up-fill" [ngClass]="liked ? 'bi-hand-thumbs-up' : 'bi-hand-thumbs-up-fill'" ></i>
    </button>
  </div>
</div>
