<nav id="sidebarMenu" class="sidebar position-sticky transition-custom col-md-3 col-lg-2 d-md-block collapse bg-light pb-5" >
  <div class="position-sticky pt-3 ">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="dashboard" >
          <span data-feather="home"></span>
          لوحة القيادة
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="properties" >
          <span data-feather="file"></span>
          العقارات
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="properties/users" >
          <span data-feather="file"></span>
          عقارات المستخدمين
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="wilayas" >
          <span data-feather="shopping-cart"></span>
          الولايات
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="mogatas" >
          <span data-feather="users"></span>
          المقاطعات
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="categories">
          <span data-feather="bar-chart-2"></span>
          نوعيات العقار
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users" >
          <span data-feather="layers"></span>
          المستخدمين
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="demands" >
          <span data-feather="layers"></span>
          الطلبات
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="demands/users">
          <span data-feather="layers"></span>
          طلبات المستخدمين
        </a>
      </li>
    </ul>
  </div>
</nav>
