<div class="card m-2">

  <div class="card m-3 container-fuild">
    <div class="row g-4">
      <div class="col-md-3 col-6">
        <button type="button" class="btn btn-success m-2" (click)="onSubmit()" >
          {{ editMode ? 'تعديل الولاية ': 'اضافة الولاية' }}
        </button>
      </div>
      <div class="col-md-3 col-6">
        <button type="button" class="btn btn-warning m-2" (click)="returnBack()">
         الرجوع
        </button>
      </div>
    </div>

  </div>

  <div class="card-body">
    <h5 class="card-title">{{ editMode ? 'تعديل الولاية ' : 'اضافة ولاية ' }}</h5>
    <p class="card-text">
      {{ editMode ? 'هنا يمكنك تعديل الولاية ' : 'هنا يمكنك اضافة الولاية' }}
    </p>
  </div>

  <div class="container m-1 p-md-5">
    <form [formGroup]="form" class="row g-3">
      <div class="col-md-4">
        <label for="name" class="form-label">اسم الولاية</label>
        <input type="text" formControlName="name" class="form-control" id="name">
        <div *ngIf="wilayaForm.name.invalid && isSubmitted" class="alert alert-danger">
          يرجى اخال الاسم
        </div>
      </div>
      <div class="col-12 px-md-5 px-2">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onSubmit()"
          >اضافة</button>
      </div>

    </form>
  </div>

</div>
