<div class="card m-2">
  <div class="card-body">
    <h5 class="card-title">اضافة الطلب </h5>
    <p class="card-text">
      هنا يمكنك اضافة الطلبات و سنقوم بالبحث عن العقار المناسب لكم
    </p>

    <div class="container m-1 p-md-5">
      <form [formGroup]="form" class="row g-3">
        <div class="col-md-4">
          <label for="title" class="form-label">العنوان</label>
          <input type="text" formControlName="title" class="form-control" id="title">
          <div *ngIf="demandForm.title.invalid && isSubmitted" class="alert alert-danger">
            يرجى اخال العنوان
          </div>
        </div>
        <div class="col-md-4">
          <label for="detail" class="form-label">التفاصيل</label>
          <textarea
            formControlName="body"
            class="form-control"
            id="detail" cols="30"
            rows="10"
            placeholder="
            المقاطعة: ....
            الولاية: ....
            نوعية العقار: شقق، منزل، فيلا ...
            السعر المناسب: ....
            "
            >
          </textarea>
          <div *ngIf="demandForm.body.invalid && isSubmitted" class="alert alert-danger">
            يرجى اخال التفاصيل
          </div>
        </div>
        <div class="col-md-4">
          <label for="phone" class="form-label">رقم الهاتف</label>
          <input type="tel" formControlName="phone" class="form-control" id="phone" pattern="[2-4]{1}[0-9]{7}" placeholder="النمط: 31234567">
          <div *ngIf="demandForm.phone.invalid && isSubmitted" class="alert alert-danger">
            يرجى اخال دقم الهاتف
          </div>
        </div>

        <div class="col-12 px-md-5 px-2 text-center">
          <button
          type="submit"
          class="btn btn-primary"
          (click)="onSubmit()"
          >اضافة</button>
        </div>
      </form>

      <div *ngIf="sucessMsg" class="alert alert-success alert-dismissible" role="alert">لقد تمت اضافة العقار بنجاح<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>

      <div *ngIf="failMsg" class="alert alert-danger alert-dismissible" role="alert">لقد حدث خطاء ما !<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    </div>
  </div>
</div>

