<div class="container py-5 px-3 w-md-50">
  <h3 class="fw-light w-75 mx-auto py-2 my-3 text-center">{{ 'CONTACT_PAGE.REQ' | translate }}</h3>
  <p class="fw-light w-75 mx-auto py-2 my-3 text-center">{{ 'CONTACT_PAGE.SUB' | translate }}</p>
  <form [formGroup]="form" class="row px-md-auto px-1">
    <div class="col-12 col-md-4">
      <label for="username" class="form-label">{{ 'CONTACT_PAGE.USER_NAME' | translate }}</label>
      <div class="input-group has-validation">
        <span class="input-group-text">@</span>
        <input formControlName="username" type="text" class="form-control" id="username" placeholder="اسم المستخدم" required>
      <div class="invalid-feedback">
        اسم المستخدم الخاص بك مطلوب.
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <label for="email" class="form-label">
        {{ 'CONTACT_PAGE.MAIL' | translate }}
        <span class="text-muted">(اختياري)</span></label>
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="you@example.com">
      <div class="invalid-feedback">
        يرجى إدخال عنوان بريد إلكتروني صحيح لتصلكم تحديثات.
      </div>
    </div>
    <div class="col-12 col-md-4">
      <label for="phone" class="form-label">
        {{ 'CONTACT_PAGE.NUMBER' | translate }}</label>

      <input formControlNmae="phone" type="tel" class="form-control" id="phone" pattern="[2-4]{1}-[0-9]{7}" required >

      <small>النمط: 2-1234567</small>
      <div class="invalid-feedback">
        يرجى إدخال رقم هاتف صحيح لتصلكم تحديثات.
      </div>
    </div>

    <div class="col-8 ">
      <p>{{ 'CONTACT_PAGE.COMMENT' | translate }}</p>
      <span class="input-text"></span>
      <textarea
        class="form-control"
        formControlName="comment"
        ></textarea>
    </div>
    <div class="col-12 py-5 text-center">
      <button type="submit" class="btn btn-dark px-5" (click)="onSubmit()">
        {{ 'CONTACT_PAGE.BTN' | translate }}
      </button>
    </div>

  </form>
</div>
