<div class="container-fluid picture">
  <div class="accordion-item hero-search">
    <div class="row">

        <div class="container d-flex justify-content-center">
          <div class="bg-light">
            <button type="button" class="btn btn-light px-2 px-lg-0">الايجار</button>
            <button type="button" class="btn btn-dark  mx-5 ">الشراء</button>

        </div>
      </div>
    </div>


      <div class="row">
        <form action="" class="d-flex">
          <input class="form-control me-2" type="text">
          <button type="button" class="btn btn-dark text-success">ابحث</button>
        </form>
      </div>

    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        اظهر المزيد
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse transition-custom" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <app-search></app-search>
      </div>
    </div>
  </div>

  <img src="assets/samsar/hero2.jpg" alt="صورة من مدينة نواكشوط">
</div>
