<div class="card m-2">
  <div class="m-3 d-flex justify-content-between ">
    <button type="button" class="btn btn-success mx-2" (click)="onSubmit()">
      {{ editMode ? "تعديل " : "اضافة العقار" }}
    </button>
    <button
      type="button"
      class="btn btn-warning mx-2"
      (click)="returnBack()"
    >
      الرجوع
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{ editMode ? "استمارة تعديل العاقار" : "استمارة اضافة العقار " }}
    </h5>
    <p class="card-text">
      {{
        editMode
          ? "هنا يمكنك تعديل تفاضيل العقار والصور"
          : "هنا يمكنك اضافة تفاضيل العقار"
      }}
    </p>
  </div>

  <div class="container m-1 p-md-3">
    <form [formGroup]="form" class="row g-3">
      <div class="col-md-4">
        <label for="propertyName" class="form-label">اسم العقار</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="propertyName"
        />
        <div
          *ngIf="propertyForm.name.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى اخال الاسم
        </div>
      </div>
      <div class="col-md-4">
        <label for="location" class="form-label">الاحداثيات</label>
        <input
          type="text"
          formControlName="location"
          class="form-control"
          id="location"
        />
        <div
          *ngIf="propertyForm.location.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى ادخال الاحداثيات
        </div>
      </div>
      <div class="col-md-4">
        <label for="address" class="form-label">عنون العقار </label>
        <input
          type="text"
          formControlName="address"
          class="form-control"
          id="address"
        />
        <div
          *ngIf="propertyForm.address.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى ادخال عنوان
        </div>
      </div>
      <div class="col-md-4">
        <label for="price" class="form-label">السعر </label>
        <input
          type="number"
          formControlName="price"
          class="form-control"
          id="price"
        />
        <div
          *ngIf="propertyForm.price.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى ادخال السعر
        </div>
      </div>

      <div class="col-md-4">
        <label for="phone" class="form-label">رقم الهاتف </label>
        <input
          type="number"
          formControlName="phone"
          class="form-control"
          id="phone"
        />
        <div
          *ngIf="propertyForm.phone.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى رقم الهاتف
        </div>
      </div>
      <div class="col-md-4">
        <label for="room" class="form-label">عدد الغرف</label>
        <input
          type="number"
          formControlName="room"
          class="form-control"
          id="room"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label" for="category">نوعية العقار</label>
        <select id="category" class="form-select" formControlName="category">
          <option *ngIf="editMode" [value]="selectedCat?.id" selected>{{ selectedCat?.name }}</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">
            {{ category.name }}
          </option>
        </select>
        <div
          *ngIf="propertyForm.category.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى ادخال نوعية العقار
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label" for="mogata">المقاطعة </label>
        <select class="form-select" formControlName="mogata" id="mogata">
          <option *ngIf="editMode" [value]="selectedMog?.id" selected>{{ selectedMog?.name }}</option>
          <option *ngFor="let mogata of mogatas" [ngValue]="mogata.id">
            {{ mogata.name }}
          </option>
        </select>

        <div
          *ngIf="propertyForm.mogata.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى ادخال المقاطعة
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-check form-switch m-3">
          <label class="form-check-label form-label" for="isFeatured"
            >معروض على الواجهة</label>
          <input
            class="form-check-input mx-3"
            type="checkbox"
            role="switch"
            id="isFeatured"
            formControlName="isFeatured"
            [checked]="propertyForm.isFeatured"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-check form-switch m-3">
          <label class="form-check-label form-label" for="sell"
            >للبيع</label>
          <input
            class="form-check-input mx-3"
            type="checkbox"
            role="switch"
            id="sell"
            formControlName="sell"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-check form-switch m-3">
          <label class="form-check-label form-label" for="rent"
            >للايجار</label>
          <input
            class="form-check-input mx-3"
            type="checkbox"
            role="switch"
            id="rent"
            formControlName="sell"
          />
        </div>
      </div>

      <div class="col-12">
        <label for="details">
          اضف تفاصيل العقار هنا
        </label>
        <!--
          <ejs-richtexteditor
          #fromRTE
          formControlName="description"
          (created)="rteCreated()"
        >
        </ejs-richtexteditor> -->

        <textarea
        id="details"
          class="form-control"
          formControlName="description"
          ></textarea>
      </div>

      <div class="col-8">
        <label class="form-label" for="image"> الصورة الرئيسية</label>
        <input
          type="file"
          name="image"
          class="form-control"
          accept="image/*"
          id="image"
          (change)="onImageUpload($event)"
        />
        <div
          *ngIf="propertyForm.image.invalid && isSubmitted"
          class="alert alert-danger"
        >
          يرجى اضافة الصورة الرئيسية للعقار
        </div>

        <div class="container">
          <img
            class="img-thumbnail"
            width="200"
            height="200"
            [src]="imageDisplay"
            alt="the main image for the product"
          />
        </div>
      </div>

      <div class="col-md-12" *ngIf="editMode">
        <label for="images" class="form-label">أضف صورا اخرى </label>
        <input
          type="file"
          name="images"
          class="form-control"
          accept="image/*"
          id="images"
          multiple
          (change)="imagesUpload($event)"
        />
      </div>
      <div *ngIf="!editMode" class="col-12 px-2 py-md-5">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          اضافة العقار
        </button>
      </div>
    </form>
  </div>
</div>
