.picture {
  height: auto;
  width: calc(100% - 3.2rem);
  margin: 0 1.6rem;
  /* margin-top: 100px; */
  position: relative;
}

.picture img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  border-radius: 1rem;
  object-fit: cover;
}

.hero-search {
  position: absolute;
  top: 4%;
  right: 10%;
  width: 80%;
}
.custom-opacity-hero {
  background-color: rgba(252, 251, 251, 0.9);
}

.hero-heading {
  color: #fff;
  margin: 0;
  padding: 0 1rem;
  text-shadow: -0.2rem 0.2rem 0 rgb(0 0 0 / 25%);
  font-size: 3.01rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 2.5rem;
  font-family: DroidArabicKufi,Helvetica,sans-serif;
  padding-bottom: 8px;
}

@media only screen and (max-width: 600px) {
  .picture {
    height: 700px;
    width: calc(100% - 16px);
    margin: 0px 8px;
  }

  .picture img {
    max-height: 700px;
  }
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-search {
    right: 8px;
    width: calc(100% - 16px);
  }
}

@media only screen and (max-width: 1000px) {
  .picture {
    max-height: 700px;
    width: calc(100% - 16px);
    margin: 0px 8px;
  }
}
