<div class="container-fluid picture">
  <div class="container-fluid hero-search">
    <h1 class="hero-heading">
      {{ 'HERO.HEADING' | translate }}
    </h1>
    <div class="container px-2 bg-clear p-1 m-2">
      <div class="d-flex justify-content-around px-3 py-2" >
        <div class="d-flex custom-opacity-hero rounded">
          <!-- w-75 w-md-25 -->
          <button type="button" class="btn mx-3 my-2 px-3 px-md-4 transition-custom" [ngClass]=" !rent ? 'btn-dark text-white': 'btn-clear text-black '" (click)="selectTypeSearch()">
            {{ 'HERO.BTN_LOUER' | translate }}
          </button>
          <button type="button" class="btn px-3 px-md-4 mx-3 my-2 transition-custom" [ngClass]=" rent ? 'btn-dark text-white': 'btn-clear text-black '" (click)="selectTypeSearch()">
            {{ 'HERO.BTN_VENT' | translate }}
          </button>
      </div>
      </div>
    </div>
    <div class="hero rounded">
        <!-- <div class="row me-2 px-2 py-2 p-md-0 m-md-0 realative"> -->
          <home-search class="realative" [rent]="rent"></home-search>
        <!-- </div> -->

    </div>
  </div>

  <img src="assets/samsar/hero3.jpg" alt="صورة من مدينة نواكشوط">
</div>
