<form action="" class="d-flex">
  <input ngModel #searchQuerry="ngModel" name="searchQuerry" class="form-control me-2" type="text" placeholder="الموقع ..." autocomplete="off" (input)="search(searchQuerry)" (focus)="search(searchQuerry)" (blur)="hideList()">
  <button type="button" class="btn btn-primary text-white px-4">ابحث</button>
</form>

<ng-container *ngIf="searchResult">

  <div class="search-list bg-light bg-gradient " >
    <ng-container *ngFor="let item of resultList">
      <p>
        <a [routerLink]="'properties/' + item.type +'/'+item.id">{{ item.name }}</a>
      </p>
    </ng-container>
  </div>

</ng-container>
