<div class="card">
  <div class="container-fuild">
    <button type="button" class="btn btn-primary btn-lg m-2" routerLink="form">أضف عقارا </button>


  </div>

  <div class="card-body">
    <h5 class="card-title">قائمة العاقارات المعروضة</h5>
    <p class="card-text">هنا لائحة العاقارات المتواجدة في قاعدة البيانات حاليا, يمكنك اضافة العقارات او تغيرها من هنا.</p>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col-6 col-md-3 col-lg-2">الاسم </th>
        <th scope="col-6 col-md-3 col-lg-2">السعر</th>
        <th scope="col-6 col-md-3 col-lg-2">المقاطعة</th>
        <th scope="col-6 col-md-3 col-lg-2">نوعية العقار</th>
        <th scope="col-6 col-md-3 col-lg-2">تاريخ الانشاء</th>
        <th scope="col-6 col-md-3 col-lg-2"></th>
        <th scope="col-6 col-md-3 col-lg-2"></th>

      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let property of properties">

          <tr>
            <th scope="row">{{ property.name }}</th>
            <td scope="row">{{ property.price }}</td>
            <td scope="row">{{ property.mogata.name }}</td>
            <td scope="row">{{ property.category.name }}</td>
            <td scope="row">{{ property.dateCreated | date: 'short' }}</td>
            <td scope="row">
              <button type="button" class="btn btn-success" [routerLink]="'form/' + property.id" >تعديل</button>
            </td>
            <td scope="row">
              <button type="button" class="btn btn-danger" (click)="deleteProperty(property.id )">حذف</button>
            </td>
          </tr>
        </ng-container>
      </tbody>

    </table>


  </div>
</div>
