<div class="card shadow-sm" *ngIf="property !== undefined" >
  <img [src]="property.image" alt="samsar home" width="100%" >

  <div class="card-body">
    <h4 class="card-heading">
      {{ property.name }}
    </h4>
    <p class="card-text">
      {{ property.price | currency: 'MRU' }}
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a class="btn btn-sm custom-btn border" [routerLink]="'/properties/properties/slug/' + property.name "> {{ 'PRODUCT.SHOW' | translate }}</a>
        <a class="btn btn-sm custom-btn border" disabled [routerLink]="'/onmap/' + property.name " >
          {{ 'PRODUCT.MAP' | translate }}
        </a>
      </div>
      <small class="text-muted">{{ property.mogata.name }}, {{ property.category.name }}</small>
    </div>
  </div>
</div>
