<div class="card shadow-sm" *ngIf="property !== undefined" >
  <img [src]="property.image" alt="samsar home" width="100%" >

  <div class="card-body">
    <h4 class="card-heading">
      {{ property.name }}
    </h4>
    <p class="card-text">
      {{ property.price }}
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a class="btn btn-sm custom-btn border" [routerLink]="'/properties/properties/slug/' + property.name "> عرض</a>
        <a class="btn btn-sm custom-btn border" disabled [routerLink]="'/properties/slug/' + property.name " > في الخريطة</a>
      </div>
      <small class="text-muted">{{ property.address }}</small>
    </div>
  </div>
</div>
