<div class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="عرض/إخفاء لوحة التنقل">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand col-md-1 col-lg-2 me-0 ps-3 ms-5 w-25 px-md-3" routerLink="">الصمصار</a>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap w-25 ms-5 px-3 flex-end">
      <a class="nav-link px-0 px-md-3" href="#">تسجيل الخروج</a>
    </div>
  </div>
</div>
