<header>
  <app-nav></app-nav>
</header>

<main class="outlet">
  <router-outlet></router-outlet>
</main>

<section class="bg-gradient-primary-to-secondary" id="download">
  <div class="container px-5">
      <h2 class="text-center text-white font-alt mb-4">احصل على التطبيق الآن!</h2>
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
          <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
          <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a>
      </div>
  </div>
</section>

<footer class="text-muted py-5">
  <app-footer></app-footer>
</footer>
<div class="container-fuild py-5 bg-dark">
  <p class="m-2 text-center text-white">
     2022 &copy; جميع الحقوق  محفوظة ، تطوير:
    <a href="https://elhachimie-technology.site/"> الهاشمي للتكنولوجيا</a>

  </p>
</div>
