<div class="translate-btn">
  <select id="lang" class="form-select" #selLang (change)="translateLanguageTo(selLang.value)">
      <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}
      </option>
    </select>
</div>
<header>
  <app-nav></app-nav>
</header>
<!-- <app-header></app-header> -->

<main class="outlet">
  <router-outlet></router-outlet>
</main>


<footer class="text-muted py-5">
  <app-footer></app-footer>
</footer>
<div class="container-fuild py-5 bg-dark">
  <p class="m-2 text-center text-white py-2">
     2022 &copy; {{ 'FOOTER.COPY' | translate }}
    <a href="https://elhachimie-technology.site/">
      {{ 'FOOTER.LINK' | translate }}
    </a>
  </p>
</div>
