<div class="container-fluid row g-3 my-3">
  <div class="col-md-6 "  *ngIf="property !== undefined">
    <img style="width: 100%;" class="figure-img img-fluid rounded" [src]="mainImagePath" [alt]="property.name">
  </div>
  <div class="col-md-5" >
    <h3>{{ property.name }}</h3>
    <p>
      {{ property.description ?? '' }}
    </p>
    <p>
      {{ property.price | currency: 'MRU' }}
    </p>

    <small>{{ property.mogata.name }}</small>
    <small>{{ property.category.name }}</small>
    <app-contact-buttons [message]="siteUrl + '/properties/properties/slug/' + property.name"></app-contact-buttons>
  </div>
  <div class="col-12 row">
    <h5>
      {{ 'PRODUCT.PHOTO' | translate }}
    </h5>
    <ng-container *ngIf="property.images != []">
      <ng-container *ngFor="let image of property.images">
        <div class="col-12 col-md-6 col-lg-4">
          <img style="width: 100%;" class="figure-img img-fluid rounded" [src]="image" [alt]="property.name" (click)="showGalleryImage(image)">
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
