<div class="container position-relative my-5 pb-5">
  <div class="row justify-content-center m-2 m-md-5">
    <div class="col-xl-6">
      <div class="text-center text-black py-5 px-1 px-md-5">
        <h2>
          {{ 'ADD.HEAD' | translate }}
        </h2>
        <h3>
          {{ 'ADD.SUB' | translate }}
        </h3>
        <br>
        <h5>
          {{ 'ADD.TEXT' | translate }}
        </h5>
        <br>
        <br>
        <label for="message" class="btn btn-dark text-white my-3">
          {{ 'ADD.BUTTON' | translate }}
        </label>
        <textarea
        id="message"
        class="form-control outline-success border-success"
        [(ngModel)]="message"
        ></textarea>
      </div>

    </div>
  </div>
  <!-- botão flutuante whatsapp -->
  <a [href]="'https://api.whatsapp.com/send?phone=22222312929text='+ message" class="whatsapp-button" target="_blank" style="position: absolute;  right: 15px; bottom: 15px;">
    <i class="bi bi-whatsapp whatsapp-btn" ></i>
  </a>
  <!-- botão flutuante whatsapp -->
  <a href="tel:22312929" class="whatsapp-button" target="_blank" style="position: absolute;  left: 15px; bottom: 15px;">
    <i class="bi bi-telephone whatsapp-btn" ></i>
  </a>
</div>
