<div class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top bg-light">
  <div class="container-fluid mx-lg-5">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg> -->
      <img src="assets/img/logo.png" alt="logo" width="50">
      <!-- <strong>الصمصار</strong> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="تبديل التنقل">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
  <div class="container">
    <div class="collapse navbar-collapse bg-light light transition-custom mt-sm-2" id="navbarHeader">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center bg-light">
        <li class="nav-item"><a href="#" class="nav-link">الرئيسية</a></li>
        <li class="nav-item"><a href="#" class="nav-link">العقارات</a></li>
        <li class="nav-item"><a href="#" class="nav-link">الخدمات</a></li>
        <li class="nav-item"><a href="#" class="nav-link">التسجيل</a></li>
        <li class="nav-item"><a href="#" class="nav-link">تواصلوا معنا </a></li>
      </ul>
    </div>
  </div>
</div>
