<div class="card">
  <div class="container-fuild">
    <div class="row">
      <main class="col-md-9 col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">لوحة القيادة</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>

        <div class="row ">
          <div class="col-12 col-md-4 col-lg-3 m-3">
            <a routerLink="properties" class="btn btn-dark">
              <h3>العقارات</h3>
            </a>
          </div>
          <div class="col-12 col-md-4 col-lg-3 m-3">
            <a routerLink="users" class="btn btn-dark">
              <h3>المستخدمين</h3>
            </a>
          </div>
          <div class="col-12 col-md-4 col-lg-3 m-3">
            <a routerLink="mogatas" class="btn btn-dark">
              <h3>المقاطعات</h3>
            </a>
          </div>
          <div class="col-12 col-md-4 col-lg-3 m-3">
            <a routerLink="wilayas" class="btn btn-dark">
              <h3>الولايات</h3>
            </a>
          </div>
          <div class="col-12 text-center pt-5">
            <h3>الخريطة</h3>
            <section class="container">
                <div class="row mt-5">
                  <div class="col-12 col-lg-7 col-md-12 my-2 px-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60682.3358322193!2d-15.935078400000002!3d18.087936000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1644497425781!5m2!1sen!2s" style="border:0;"style="width: 800px; height: 1000px;" allowfullscreen="true" loading="lazy"></iframe>
                    <div id="mapboxid"></div>
                  </div>
                </div>
              </section>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>


