<div class="card">
  <div class="container">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">لوحة القيادة</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">مشاركة</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">تصدير</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              هذا الأسبوع
            </button>
          </div>
        </div>

        <h2>عنوان القسم</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">عنوان</th>
                <th scope="col">عنوان</th>
                <th scope="col">عنوان</th>
                <th scope="col">عنوان</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>بيانات</td>
                <td>عشوائية</td>
                <td>تثري</td>
                <td>الجدول</td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</div>


