.tool-text {
  width: 270px;
  position: absolute;
  top: 100%;
}
.custom-w {
  width: 120px;
  margin-left: 4px;
  margin-right: 2px;
  margin-bottom: 2px;
}
/* .vertical-range {
  transform: rotate(90deg);
  margin-right: 12px;
} */
