<div class="mb-3">
  <div clas="container">
    <div class="row">
      <div class="input-group mb-3 col">
        <label class="input-group-text" for="wilaya">اختر الولاية</label>
        <select class="form-select" id="wilaya">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="input-group mb-3 col">
        <label class="input-group-text" for="mogata">اختر المقاطعة</label>
        <select class="form-select" id="mogata">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="input-group mb-3 col">
        <label class="input-group-text" for="medina">اختر المدينة</label>
        <select class="form-select" id="medina">
          <option value="1">first choice</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="input-group mb-3 col">
        <label class="input-group-text" for="medina">اختر المدينة</label>
        <select class="form-select" id="medina">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

    </div>
  </div>

    <div class="container">
      <p>
        <a href="#" class="btn btn-primary my-2 mx-2">ابحث الان</a>
        <a href="#" class="btn btn-secondary my-2">تصفح المعرض</a>
      </p>
    </div>
</div>

<!--
  <select aria-label="">
              <div class="row">
                <div class="col">
                  <option selected>المقاطعة</option>
                </div>
                <div class="col">
                  <option value="1">واحد</option>
                </div>
                <div class="col">
                  <option value="2">اثنان</option>
                </div>
                <div class="col">
                  <option value="3">ثلاثة</option>
                </div>
              </div>
            </select>
 -->
