<div class="mb-3">
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg مثال">
    <option selected>اختر الولاية</option>
    <option value="1">انواكشوط</option>
    <option value="2">داخلة انوذيبو</option>
    <option value="3">اطار</option>
  </select>
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg مثال">
    <option selected>اختر المدينة</option>
    <option value="1">نواكشوط</option>
    <option value="2">انوذيبو</option>
    <option value="3">اطار</option>
  </select>
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg مثال">
    <option selected>المقاطعة</option>
    <option value="1">واحد</option>
    <option value="2">اثنان</option>
    <option value="3">ثلاثة</option>
  </select>

  <p>
    <a href="#" class="btn btn-primary my-2 mx-2">ابحث الان</a>
    <a href="#" class="btn btn-secondary my-2">تصفح المعرض</a>
  </p>

</div>
