<div class="mb-3">
  <div clas="container">
    <form class="form-group">
      <div class="row">
        <div class="col-6 col-md-3 realative">
          <label for="property-category" class="form-label"> نوع العقار</label>
          <div class="input-group">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" (click)="showToolTip()" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </span>
            <input dir="rtl" type="text" class="form-control" id="property-category" placeholder=" نوع العقار" (click)="showToolTip()">
          </div>

          <div class="tool-text bg-light rounded" [ngClass]="toolTip ? '' : 'd-none'">
            <div class="container-fluid text-center mb-2 mx-2">
              <button type="button" class="btn btn-white btn-outline-secondary px-3 mx-2">شقة</button>

              <button type="button" class="btn btn-dark m1 btn-outline-secondary px-3 mx-2">شقة</button>
            </div>

            <div class="row justify-content-around align-items-center">
              <div class="col-6">
                <button type="button" class="btn btn-white btn-outline-secondary px-4 custom-w">شقة</button>
              </div>
              <div class="col-6 ">
                <button type="button" class="btn btn-white btn-outline-secondary px-4 custom-w">فيلا</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-white btn-outline-secondary px-4 custom-w">منزل</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-white btn-outline-secondary px-4 custom-w">شقة</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-white btn-outline-secondary px-4 custom-w">شقة</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 bg-success">
          <label for="price-range" class="form-label">الاسعار</label>
          <div class="input-group has-validation">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" (click)="showToolTip()" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </span>
            <input type="range" id="price-range" class="form-range vertical-range" [min]="min" >
            <input type="range" id="price-range" class="form-range vertical-range" min="0" max="5">
          </div>
        </div>
        <!-- <div class="input-group mb-3 col-5">
          <label class="input-group-text" for="mogata">اختر المقاطعة</label>
          <select class="form-select" id="mogata">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="input-group mb-3 col-6">
          <label class="input-group-text" for="medina">اختر المدينة</label>
          <select class="form-select" id="medina">
            <option value="1">first choice</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="input-group mb-3 col-6">
          <label class="input-group-text" for="medina">اختر المدينة</label>
          <select class="form-select" id="medina">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div> -->

      </div>
    </form>
  </div>

    <!-- <div class="container">
      <p>
        <a href="#" class="btn btn-primary my-2 mx-2">ابحث الان</a>
        <a href="#" class="btn btn-secondary my-2">تصفح المعرض</a>
      </p>
    </div> -->
  </div>
