<div class="card">
  <div class="container-fuild">
    <button type="button" class="btn btn-primary btn-lg m-2" routerLink="form">أضف نوعية عقار</button>
  </div>

  <div class="card-body">
    <h5 class="card-title">قائمة انواع العقار المتوفرة </h5>
    <p class="card-text">هنا لائحة انواع العقارات المتواجد في قاعدة البيانات حاليا, يمكنك اذافة العقارات او تغيرها من هنا.</p>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"># </th>
        <th scope="col">الاسم </th>
        <th scope="col"> </th>
        <th scope="col"></th>

      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let category of categories">

          <tr>
            <th scope="row">{{ '#' }}</th>
            <td scope="row">{{ category.name }}</td>
            <td scope="row">
              <button type="button" class="btn btn-success" [routerLink]="'form/' + category.id" >تعديل النوعية</button>
            </td>
            <td scope="row">
              <button type="button" class="btn btn-danger" (click)="deleteCategory(category.id)">حذف النوعية</button>
            </td>


          </tr>
        </ng-container>
      </tbody>

    </table>


  </div>
</div>

