/* You can add global styles to this file, and also import other style files */
.outlet {
  margin-top: 100px;
}
.home.nav-link:hover {
  color: red;
}

.home.nav-link:active {
  color: red;
}

.transition-custom {
  transition: 0.3s;
}

.realative {
  position: relative;
}

