/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css'; */

.outlet {
  /* margin-top: 75px; */
}

.transition-custom {
  transition: 0.5s;
}

.realative {
  position: relative;
}

.custom-opacity {
  background-color: rgba(252, 251, 251, 0.1);
}

.custom-opacity button {
  opacity: 1;
}
/* .price-range {
  min-width: 350px;
  overflow: auto;
} */

.custom-btn{
  background-color: black!important;
  color: #ffffff!important;
}

.custom-btn:hover {
  background-color: #FF1616!important;
}
