<div class="container">
  <div class="row">
    <div class="col-lg-6 h-100 text-center text-lg-start my-auto bg-white">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a routerLink="/" class="text-dark">
            {{ 'NAV.HOME' | translate }}
          </a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a routerLink="/properties/sell" class="text-dark">
            {{ 'NAV.SELL' | translate }}
          </a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a routerLink="/properties/rent" class="text-dark">{{ 'NAV.RENT' | translate }}</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a routerLink="contact" class="text-dark">
            {{ 'NAV.CONTACT' | translate }}
          </a></li>
          <li class="list-inline-item">⋅</li>
        </ul>
    </div>
  </div>
  <div class="row text-dark">
    <div class="col-lg-4 h-100 text-center my-auto">
      <img src="assets/img/logo.png" alt="samsar logo">
    </div>
  </div>
</div>
