<div class="container">
  <div class="row">
    <div class="col-lg-6 h-100 text-center text-lg-start my-auto bg-white">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a routerLink="/" class="text-dark">
            {{ 'NAV.HOME' | translate }}
          </a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a routerLink="/properties/sell" class="text-dark">
            {{ 'NAV.SELL' | translate }}
          </a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a routerLink="/properties/rent" class="text-dark">{{ 'NAV.RENT' | translate }}</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a routerLink="contact" class="text-dark">
            {{ 'NAV.CONTACT' | translate }}
          </a></li>
          <li class="list-inline-item">⋅</li>
        </ul>
    </div>
    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
            <li class="list-inline-item mx-2">
                <a href="https://www/facebook/com"><i class="bi-facebook fs-3 custom-icon"></i></a>
            </li>

            <li class="list-inline-item mx-2">
                <a href="https://www.facebook.com"><i class="bi-instagram fs-3 custom-icon"></i></a>
            </li>
        </ul>
    </div>
  </div>
  <div class="row text-dark">
    <div class="col-lg-4 h-100 text-center my-auto">
      <img src="assets/img/logo.png" alt="samsar logo">
    </div>

    <!-- <div class="col-lg-4 h-100 text-center text-lg-start my-auto text-dark">
      <h3>{{ 'FOOTER.US' | translate }}</h3>
      <p>
       {{ 'FOOTER.US_TEXT' | translate }}
      </p>
    </div>
    <div class="col-lg-4 h-100 text-center text-lg-start my-auto">
      <h3>{{ 'FOOTER.CONTACT.TITLE' | translate }}</h3>
      <ul class="list-inline mb-0">
        <li class="list-inline-item me-4">
          <i class="bi-geo-alt fs-3 custom-icon"></i>
          {{ 'FOOTER.CONTACT.MAP' | translate }}
        </li>
        <li class="list-item me-4">
          <i class="bi-telephone fs-3 custom-icon"></i>
          {{ 'FOOTER.CONTACT.PHONE' | translate }}
          31292940
        </li>
        <li class="list-item">
          <i class="bi bi-envelope-plus fs-3 custom-icon"></i>
          {{ 'FOOTER.CONTACT.MAIL' | translate }}
          contact@samsar.com
        </li>
    </ul>
    </div> -->
  </div>
</div>
